{# Copyright 2022 RADar-AZDelta #}
{# SPDX-License-Identifier: gpl3+ #}
with vragenlijsten_hix as (
    select vragenlijst.opslagid, lijstnaam.lijstnaam, vragen.stelling, keuzelijst.omschr, vragen.vraagid, antwoorden.patientnr, antwoorden.opslagid as antwoord_opslagid
        , antwoorden.antwoord, keuzelijst.code,vragenlijst.datum, vragenlijst.tijd, vragen.korteoms
    from {{project_id}}.hix.VRLIJST_VROPSLG antwoorden
        join {{project_id}}.hix.VRLIJST_LSTOPSLG  as vragenlijst on vragenlijst.OPSLAGID = antwoorden.BEANTWID
    join {{project_id}}.hix.VRLIJST_LIJSTDEF  as lijstnaam on lijstnaam.LIJSTID = vragenlijst.LIJSTID
    join {{project_id}}.hix.VRLIJST_VRAGEN as vragen on vragen.VRAAGID = REALVRID
        left outer join   {{project_id}}.hix.VRLIJST_KEUZELST as keuzelijst on  keuzelijst.CODE = antwoorden.Antwoord
), cte as (
    select distinct patientnr, cast(format_date('%Y-%m-%d', parse_date('%d-%m-%Y',antwoord)) as date) as measurement_date
        ,cast(concat(format_date('%Y-%m-%d', parse_date('%d-%m-%Y', antwoord)), ' 00:00:00') as datetime) as measurement_datetime
    from vragenlijsten_hix where lijstnaam = 'Registratieformulier MOC' and stelling = 'Incidentiedatum' and (not antwoord = '')
    and opslagid in (select opslagid from vragenlijsten_hix where omschr like 'C34.%')
)
select distinct
    concat('MOC_', antwoord_opslagid, '_', l.patientnr) as measurement_id	
    ,l.patientnr as person_id
    ,concat('HIXVRAGENLIJSTEN_',vraagid) as measurement_concept_id
    ,measurement_date
    ,measurement_datetime
    ,cast(null as string) as measurement_time
    ,'ADMINISTRATION_RECORD' as measurement_type_concept_id
    ,case when regexp_contains(antwoord, '<') then 'LESS'
        when regexp_contains(antwoord, '>') then 'MORE' 
        else 'EQUAL' end as operator_concept_id 
    ,case 
        when regexp_contains(antwoord, '[0-9]') 
            then cast(replace(regexp_replace(trim(antwoord, ','), r'[^0-9,\.]', ''), ',', '.') as float64) 
        else null end as value_as_number
    ,cast(null as string) as value_as_concept_id
    ,concat('HIXVRAGENLIJSTEN_', vraagid) as unit_concept_id 
    ,cast(null as float64) as range_low
    ,cast(null as float64) as range_high
    ,cast(null as string) as provider_id
    ,cast(null as string) as visit_occurrence_id
    ,cast(null as string) as visit_detail_id
    ,concat('HIXVRAGENLIJSTEN_', vraagid) as measurement_source_value
    ,cast(null as string) as measurement_source_concept_id
    ,cast(null as string) as unit_source_value
    ,cast(null as string) as unit_source_concept_id
    ,cast(antwoord as string) as value_source_value 
    ,cast(null as string) as measurement_event_id
    ,cast(null as string) meas_event_field_concept_id
from  vragenlijsten_hix l
inner join cte on cte.patientnr = l.patientnr
where lijstnaam = 'MOC longtumor' and vraagid in ('0000002091', '0000002092', '0000002093') and not l.antwoord in ('', 'onbekend', '999')
and measurement_date is not null
order by measurement_id