{# Copyright 2022 RADar-AZDelta #}
{# SPDX-License-Identifier: gpl3+ #}
with cte_visit as (
    SELECT 
        ei.DBCNUMMER as visit_occurrence_id
        ,ei.PATIENTNR as person_id
        ,ei.SOORTINSCH as visit_concept_id
        ,CAST(ei.BEGINDAT as DATE) as visit_start_date
        ,DATETIME(CAST(ei.BEGINDAT as DATE), PARSE_TIME('%H:%M', ei.BEGINTIJD)) as visit_start_datetime
        ,coalesce(CAST(ei.EINDDAT AS DATE), DATE(2099,12,31)) as visit_end_date
        ,DATETIME(
            coalesce(CAST(ei.EINDDAT AS DATE), DATE(2099,12,31)), 
            PARSE_TIME('%H:%M', IF(REGEXP_CONTAINS(ei.EINDTIJD, r'^[0-9]{2}:[0-9]{2}$'), ei.EINDTIJD, '00:00'))
        ) as visit_end_datetime
        ,'EPISODE_RECORD' as visit_type_concept_id
        ,coalesce(ei.UITVOERDER, ei.UITVOERDER2, ei.UITVOERDER3) as provider_id
        ,ei.locatie as care_site_id
        ,ei.SOORTINSCH as visit_source_value
        ,cast(null as string) as visit_source_concept_id
        ,cast(null as string) as admitted_from_concept_id
        ,cast(null as string) as admitted_from_source_value
        ,cast(null as string) as discharged_to_concept_id
        ,cast(null as string) as discharged_to_source_value
    FROM {{project_id}}.{{dataset_id_raw}}.EPISODE_EPISODE ee
    inner join {{project_id}}.{{dataset_id_raw}}.EPISODE_INSCHRIJVING ei on ei.EPISODE = ee.EPISODE
    left outer join {{project_id}}.{{dataset_id_raw}}.OPNAME_OPNAME oo on ei.DBCNUMMER = oo.INSCHRNR
    where oo.WORKFLOWSTATUS <> 'DT000125' -- GEANNULEERD
        and oo.INSCHRNR is null
        and ei.BEGINDAT is not null
        and CAST(ei.BEGINDAT as DATE) < CURRENT_DATE()

    union all 

    SELECT --PRE HIX TIJDPERK
        oo.INSCHRNR as visit_occurrence_id
        ,oo.PATIENTNR as person_id
        ,ei.SOORTINSCH as visit_concept_id
        ,CAST(oo.OPNDAT as DATE) as visit_start_date
        ,DATETIME(
            CAST(oo.OPNDAT as DATE), 
            PARSE_TIME('%H:%M', IF(REGEXP_CONTAINS(oo.OPNTIJD, r'^[0-9]{2}:[0-9]{2}$'), oo.OPNTIJD, '00:00'))
        ) as visit_start_datetime
        ,coalesce(CAST(oo.ONTSLDAT as DATE), DATE(2099,12,31)) as visit_end_date
        ,DATETIME(
            coalesce(CAST(oo.ONTSLDAT as DATE), DATE(2099,12,31)), 
            PARSE_TIME('%H:%M', IF(REGEXP_CONTAINS(oo.ONTSLTIJD, r'^[0-9]{2}:[0-9]{2}$'), oo.ONTSLTIJD, '00:00'))
        ) as visit_end_datetime
        ,'EPISODE_RECORD' as visit_type_concept_id
        ,coalesce(oo.VERWIJZER) as provider_id
        ,oo.locatie as care_site_id
        ,ei.SOORTINSCH as visit_source_value
        ,cast(null as string) as visit_source_concept_id
        ,oo.HERKOMST as admitted_from_concept_id
        ,oo.HERKOMST as admitted_from_source_value
        ,oo.BESTEMMING as discharged_to_concept_id
        ,oo.BESTEMMING as discharged_to_source_value
    FROM {{project_id}}.{{dataset_id_raw}}.OPNAME_OPNAME oo
    left outer join {{project_id}}.{{dataset_id_raw}}.EPISODE_INSCHRIJVING ei on ei.DBCNUMMER = oo.INSCHRNR
    where oo.WORKFLOWSTATUS <> 'DT000125' -- GEANNULEERD
        and oo.OPNDAT is not null
        and CAST(oo.OPNDAT as DATE) < CURRENT_DATE()
        and oo.INSCHRNR is not null and oo.INSCHRNR <> ''
), cte_visit2 as ( --dialyse opnames van een patiënt hebben allemaal hetzelfde nummer!
    select *, ROW_NUMBER() OVER (PARTITION BY visit_occurrence_id ORDER BY visit_start_datetime asc) row_number 
    from cte_visit
), cte_visit3 as (
    select 
        IF(row_number = 1, visit_occurrence_id, concat(visit_occurrence_id, "_", format("%06d", row_number - 1))) as visit_occurrence_id
        ,* except(visit_occurrence_id, row_number) 
    from cte_visit2
)
select *
    ,LAG (visit_occurrence_id) OVER (partition by visit_occurrence_id ORDER BY visit_start_datetime asc) as preceding_visit_occurrence_id
from cte_visit3 v
--order by 2, 5 desc 
