select distinct
CONCAT("KUUR_", VCMOCD) as sourceCode,
OMSCHRIJV as sourceTerm,
NULLIF(REPLACE(REPLACE(OPMERK, '\r', ' '), '\n', ''),"") as additionalinfo,
count(KUUR_CODE) as sourceFrequency

from `hix.MEDICAT_KUUR` kuur
inner join `hix.MEDICAT_KUURDEEL` deel
on kuur.code = deel.kuurcd
group by sourceCode, sourceterm, additionalinfo  