{# Copyright 2022 RADar-AZDelta #}
{# SPDX-License-Identifier: gpl3+ #}

with first_obs as (
  select person_id, min(visit_start_date) as start_date
  from {{project_id}}.{{dataset_id_work}}.visit_occurrence
  group by person_id

  union distinct

  select person_id, min(visit_detail_start_date) as start_date
  from {{project_id}}.{{dataset_id_work}}.visit_detail
  group by person_id

  union distinct

  select person_id, min(condition_start_date) as start_date
  from {{project_id}}.{{dataset_id_work}}.condition_occurrence
  group by person_id

  union distinct

  select person_id, min(drug_exposure_start_date) as start_date
  from {{project_id}}.{{dataset_id_work}}.drug_exposure
  group by person_id

  union distinct

  select person_id, min(procedure_date) as start_date
  from {{project_id}}.{{dataset_id_work}}.procedure_occurrence
  group by person_id

  union distinct
/* TODO: Add this part if device_exposure is used
  select person_id, min(device_exposure_start_date) as start_date
  from {{project_id}}.{{dataset_id_work}}.device_exposure
  group by person_id

  union distinct
*/
  select person_id, min(measurement_date) as start_date
  from {{project_id}}.{{dataset_id_work}}.measurement
  group by person_id

  union distinct

  select person_id, min(observation_date) as start_date
  from {{project_id}}.{{dataset_id_work}}.observation
  group by person_id

  union distinct

  select person_id, min(death_date) as start_date
  from {{project_id}}.{{dataset_id_work}}.death
  group by person_id

  union distinct
/* TODO: Add this part if device_exposure is used
  select person_id, min(note_date) as start_date
  from {{project_id}}.{{dataset_id_work}}.note
  group by person_id

  union distinct
*/
  select person_id, min(specimen_date) as start_date
  from {{project_id}}.{{dataset_id_work}}.specimen
  group by person_id

  union distinct

  select person_id, min(episode_start_date) as start_date
  from {{project_id}}.{{dataset_id_work}}.episode
  group by person_id
), start_date as (
  select person_id, min(start_date) as start_date
  from first_obs
  group by person_id
)
select
  concat("OBS_PER_", s.person_id, '_', s.start_date, '_', coalesce(d.death_date, CURRENT_DATE())) as observation_period_id,
  p.person_source_value person_id,
  s.start_date as observation_period_start_date,
  coalesce(d.death_date, CURRENT_DATE()) as observation_period_end_date,
  'FIRST_ENCOUNTER_RECORD' as period_type_concept_id,
from start_date s
left join {{project_id}}.{{dataset_id_work}}.death d on s.person_id = d.person_id
left join {{project_id}}.{{dataset_id_work}}.person p on s.person_id = p.person_id
where start_date <> DATE(1753,1,1) and start_date <> DATE(1900,1,1)
order by observation_period_start_date asc

