select 
  relationship_concept_id as sourceCode
  ,relationship_concept_id as sourceName
  ,count(*) as sourceFrequency
from (
  select distinct
    'person' as domain_concept_id_1
    ,r.PATIENTNR1 as fact_id_1	
    ,'person' as domain_concept_id_2	
    ,r.PATIENTNR2 as fact_id_2	
    ,t.Omschr_LR as relationship_concept_id
  from {{project_id}}.{{dataset_id_omop}}.PATIENT_PATREL r
  inner join {{project_id}}.{{dataset_id_omop}}.PATIENT_PATRELT t on t.CODE = r.RELTYPE and t.VERVALLEN = false

  union all

  select distinct
    'person' as domain_concept_id_1
    ,r.PATIENTNR2 as fact_id_1	
    ,'person' as domain_concept_id_2	
    ,r.PATIENTNR1 as fact_id_2	
    ,t.Omschr_RL as relationship_concept_id
  from {{project_id}}.{{dataset_id_omop}}.PATIENT_PATREL r
  inner join {{project_id}}.{{dataset_id_omop}}.PATIENT_PATRELT t on t.CODE = r.RELTYPE and t.VERVALLEN = false
) t
group by relationship_concept_id