{# Copyright 2022 RADar-AZDelta #}
{# SPDX-License-Identifier: gpl3+ #}
select
	SPECCODE as sourceCode
    ,OMSCHR as sourceName
    ,1 as sourceFrequency
from {{project_id}}.{{dataset_id_raw}}.CSZISLIB_SPEC
order by 1