with vragenlijsten_hix as (select vragenlijst.opslagid, lijstnaam.lijstnaam, vragen.stelling, keuzelijst.omschr, vragen.vraagid, antwoorden.patientnr, antwoorden.opslagid as antwoord_opslagid
, antwoorden.antwoord, keuzelijst.code,vragenlijst.datum, vragenlijst.tijd, vragen.korteoms
from {{project_id}}.hix.VRLIJST_VROPSLG antwoorden
    join {{project_id}}.hix.VRLIJST_LSTOPSLG  as vragenlijst on vragenlijst.OPSLAGID = antwoorden.BEANTWID
  join {{project_id}}.hix.VRLIJST_LIJSTDEF  as lijstnaam on lijstnaam.LIJSTID = vragenlijst.LIJSTID
  join  {{project_id}}.hix.VRLIJST_VRAGEN as vragen on vragen.VRAAGID = REALVRID
    left outer join   {{project_id}}.hix.VRLIJST_KEUZELST as keuzelijst on  keuzelijst.CODE = antwoorden.Antwoord
    where lijstnaam.lijstnaam = 'Registratieformulier MOC')

,cte as (select distinct antwoord_opslagid, patientnr, stelling, antwoord, code, omschr, vraagid, datum, tijd, opslagid,  
from vragenlijsten_hix where opslagid in (select opslagid from vragenlijsten_hix where
lijstnaam = 'Registratieformulier MOC' and stelling = 'Nieuw/follow-up registratieformulier' and omschr = 'nieuw'))
,cte2 as (select distinct patientnr, opslagid, antwoord, safe_cast(format_date('%Y-%m-%d', parse_date('%d-%m-%Y',antwoord)) as date) as observation_date
    ,safe_cast(concat(format_date('%Y-%m-%d', parse_date('%d-%m-%Y', antwoord)), ' 00:00:00') as datetime) as observation_datetime
from  vragenlijsten_hix where lijstnaam = 'Registratieformulier MOC' and stelling = 'Incidentiedatum' and not antwoord = '')

select 
concat('MOC_', antwoord_opslagid, '_', cte.patientnr) as observation_id
,cte.patientnr as person_id
,concat('HIXVRAGENLIJSTEN_', vraagid) as observation_concept_id
,observation_date
,observation_datetime
,'ADMINISTRATION_RECORD' as observation_type_concept_id 
,cast(null as float64) as value_as_number
,case when stelling in ('Datum eerste behandeling', 'Datum eerste recidief', 'Incidentiedatum', 'Datum MOC') and not (cte.antwoord like '%0200' or cte.antwoord like '%0020')
then cast(cast(concat(format_date('%Y-%m-%d', parse_date('%d-%m-%Y', cte.antwoord)), 'T00:00:00') as datetime) as string)as value_as_string
,concat('HIXVRAGENLIJSTEN_', code, '_', vraagid) as value_as_concept_id
,cast(null as string) as qualifier_concept_id
,cast(null as string) as unit_concept_id
,cast(null as string) as provider_id
,cast(null as string) as visit_occurrence_id
,cast(null as string) as visit_detail_id
,concat('HIXVRAGENLIJSTEN_', vraagid) as observation_source_value
,0 as observation_source_concept_id
,cast(null as string) as unit_source_value
,cast(null as string) as qualifier_source_value
,cast(null as string) as observation_event_id
,cast(null as string) as obs_event_field_concept_id


from cte
inner join omop_work.observation__observation_concept_id_usagi u 
on u.sourceCode = concat('HIXVRAGENLIJSTEN_', vraagid)
inner join cte2 on cte2.opslagid = cte.opslagid
 
where not cte.antwoord = '' and not vraagid in ('0000010445', 'ZH00001638') and u.domainId = 'Observation' 
and not u.conceptId = 0

order by observation_id