select distinct
  'person' as field_concept_id_1
  ,r.PATIENTNR1 as fact_id_1	
  ,'person' as field_concept_id_2	
  ,r.PATIENTNR2 as fact_id_2	
  ,t.Omschr_LR as relationship_concept_id
from {{project_id}}.{{dataset_id_raw}}.PATIENT_PATREL r
inner join {{project_id}}.{{dataset_id_raw}}.PATIENT_PATRELT t on t.CODE = r.RELTYPE and t.VERVALLEN = false

union all

select distinct
  'person' as field_concept_id_1
  ,r.PATIENTNR2 as fact_id_1	
  ,'person' as field_concept_id_2	
  ,r.PATIENTNR1 as fact_id_2	
  ,t.Omschr_RL as relationship_concept_id
from {{project_id}}.{{dataset_id_raw}}.PATIENT_PATREL r
inner join {{project_id}}.{{dataset_id_raw}}.PATIENT_PATRELT t on t.CODE = r.RELTYPE and t.VERVALLEN = false