{# Copyright 2022 RADar-AZDelta #}
{# SPDX-License-Identifier: gpl3+ #}
WITH automapped AS (
    SELECT CONCAT('EPD_', e.CODE) AS sourceCode
        , STRING_AGG(DISTINCT REGEXP_REPLACE(REGEXP_REPLACE(cc.Omschrijving,r',',r'.'),r'\s',r' '), ". ") AS sourceName
        , COUNT(*) AS sourceFrequency
        , ARRAY_AGG(c_std.concept_id IGNORE NULLS ORDER BY c.standard_concept DESC)[SAFE_OFFSET(0)] AS conceptId
    FROM `{{project_id}}.{{dataset_id_raw}}.DOSSIER_EPDDIAG` e
    LEFT JOIN `{{project_id}}.{{dataset_id_raw}}.CODELYST_CODEOMS` cc 
    ON e.CODE = cc.CODE
    LEFT JOIN `{{project_id}}.{{dataset_id_omop}}.concept_synonym` cs
    ON cc.Omschrijving = cs.concept_synonym_name
        AND cc.LanguageCode = "en-GB"
    LEFT JOIN `{{project_id}}.{{dataset_id_omop}}.concept` c
    ON c.concept_id = cs.concept_id
        AND c.domain_id IN ("Condition", "Observation")
    LEFT JOIN `{{project_id}}.{{dataset_id_omop}}.concept_relationship` cr
    ON c.concept_id = cr.concept_id_1
        AND cr.relationship_id = 'Maps to'
    LEFT JOIN `{{project_id}}.{{dataset_id_omop}}.concept` c_std
    ON cr.concept_id_2 = c_std.concept_id
        AND c_std.standard_concept = 'S'
        AND c_std.domain_id IN ("Condition", "Observation")
    WHERE e.CODE IS NOT NULL AND TRIM(e.CODE) <> '' AND cc.Omschrijving IS NOT NULL AND TRIM(cc.Omschrijving) <> ''
    GROUP BY sourceCode
    ORDER BY sourceFrequency DESC
)
SELECT 
    a.sourceCode
    ,a.sourceName
    ,a.sourceFrequency
    ,CAST(NULL AS STRING) AS sourceAutoAssignedConceptIds
    ,IF(a.conceptId IS NULL, COALESCE(e.matchScore, 0), 1) AS matchScore
    ,IF(a.conceptId IS NULL, COALESCE(e.mappingStatus, 'UNCHECKED'), 'APPROVED') AS mappingStatus
    ,IF(a.conceptId IS NULL, COALESCE(e.equivalence, 'UNREVIEWED'), 'EQUAL') AS equivalence
    ,'etl' AS statusSetBy
    ,UNIX_MILLIS(CURRENT_TIMESTAMP()) as statusSetOn
    ,COALESCE(a.conceptId, e.conceptId,0) conceptId
    ,IF(a.conceptid IS NULL, e.conceptName, c.concept_NAME) AS conceptName
    ,IF(a.conceptid IS NULL, e.domainId, c.domain_id) AS domainId
    ,'MAPS_TO' AS mappingType
    ,'AUTO MAPPED' AS comment
    ,'etl' AS createdBy
    ,UNIX_MILLIS(CURRENT_TIMESTAMP()) as createdOn
    ,cast(null AS string) AS assignedReviewer
FROM automapped a
LEFT JOIN `{{project_id}}.{{dataset_id_omop}}.concept` c
ON a.conceptId = c.concept_id
    AND c.standard_concept = 'S'
    AND c.domain_id IN ("Condition", "Observation")
LEFT JOIN `{{project_id}}.{{dataset_id_usagi}}.epd_usagi` e
ON a.sourceCode = e.sourceCode
ORDER BY a.sourceFrequency DESC
