{# Copyright 2022 RADar-AZDelta #}
{# SPDX-License-Identifier: gpl3+ #}
SELECT 
    'AZDELTA' as care_site_id
    ,'AZ Delta Ziekenhuis' as care_site_name
    ,'Hospital' as place_of_service_concept_id
    ,'CAMPUS_RUM' as location_id	
    ,'AZ Delta Ziekenhuis' as care_site_source_value
    ,'Hospital'as place_of_service_source_value