with cte_ward as (
    SELECT 
        concat(p.REFID, '_', c.SHORTDESCR) as care_site_id
        ,c.DESCRIPTION as care_site_name
        ,c.SOURCELOCCODE as place_of_service_concept_id
        ,concat('CAMPUS_', p.REFID) as location_id	
        ,c.LOCATIONID as care_site_source_value
        ,c.SOURCELOCCODE as place_of_service_source_value
        ,c.*
    FROM iconic-guard-317109.hix.CSZISLIB_LOCATION c
    inner join iconic-guard-317109.hix.CSZISLIB_LOCATION p on p.LOCATIONID = c.PARENTID
        and p.SOURCELOCCODE = 'HOSPITAL'
    where c.SOURCELOCCODE = 'ADMWARD'
        and c.SHORTDESCR not in ('2176', '4970', '4971', '523A', '523B', '533A', '533B', '4940', '4950') --IZ
), cte_ward2 as ( --remove duplicates
    select *, ROW_NUMBER() OVER (PARTITION BY care_site_id) as row_number 
    from cte_ward
), cte_ward3 as (
    select * except(row_number) 
    from cte_ward2
    where row_number = 1
)
select *
from cte_ward3