{# Copyright 2022 RADar-AZDelta #}
{# SPDX-License-Identifier: gpl3+ #}
select 
	oh.code as sourceCode
	,oh.omschr as sourceName
	,0 as sourceFrequency
from {{project_id}}.{{dataset_id_raw}}.OPNAME_HERKOMST oh