{# Copyright 2022 RADar-AZDelta #}
{# SPDX-License-Identifier: gpl3+ #}
select concat('RAD_', rrvcode.CODE)  as source_code 
	,STRING_AGG(DISTINCT rrvcode.OMSCHR) as source_term
	,STRING_AGG(DISTINCT rrmoda.CODE) as ADD_INFO_mod_abbr
	,STRING_AGG(DISTINCT rrmoda.OMSCHRIJV) as ADD_INFO_modality
	,count(*) as source_frequency
from hix.RONTGEN_RONTGEN rr
inner join hix.ORDERCOM_ORDSTAT ostat on ostat.STATUSCODE = rr.WORKFSTATUS
inner join hix.RONTGEN_RONTVERR rrv on rrv.ONDERZNR = rr.ONDERZNR
inner join hix.RONTGEN_VERRCODE rrvcode on rrvcode.CODE = rrv.CODE
inner join hix.RONTGEN_MODINST rrmodinst on rrv.MODINST = rrmodinst.MODINSTID
inner join hix.RONTGEN_RONTMODA rrmoda on rrmodinst.MODTYPECODE = rrmoda.CODE
where rr.AANVRAAGOK = true
	and rr.ONDERZDAT < CAST(DATE_ADD(CURRENT_DATE(), INTERVAL 1 DAY) AS TIMESTAMP)
	and ostat.OMSCHR not in ('Geannuleerd', 'Opgeroepen', 'Afgesproken', 'Verzocht', 'Gemeld', 'Ingevoerd')
group by rrvcode.CODE
order by source_frequency desc