{# Copyright 2022 RADar-AZDelta #}
{# SPDX-License-Identifier: gpl3+ #}
with awell_vragenlijsten as (
	select distinct 
		fq.form_id
		,fq.question_id
		,fq.label
		,fq.label_en
		,fq.sub_question_id
		,fq.sub_label
		,fq.sub_label_en
		,fr.response_label_en as structured_answer_en
		,fr.response_label_nl as structured_answer_nl
		,IF(fr.response_label_nl is not null, r.response_value, null) as structured_answer_code
		,IF(fr.response_label_nl is null, r.response_value, null) as free_answer
		,u.patient_code
		,u.doctor_id
		,r.submission_date
		,r.step_id
		,r.episode_name
	from {{project_id}}.awell.form_questions fq
	inner join {{project_id}}.awell.responses r 
	on fq.form_id = r.form_id 
		and fq.question_id = r.question_id 
		and ((fq.sub_question_id is null and r.sub_question_id is null) or (fq.sub_question_id = r.sub_question_id))
	left outer join {{project_id}}.awell.form_responses fr 
	on fr.form_id = fq.form_id 
		and fr.question_id = fq.question_id
		and fr.response_value = r.response_value
	inner join {{project_id}}.awell.users u 
	on u.user_id = r.user_id
	where fq.form_id in (
		'start_form_lungcancer_treatment', 
		'40f9b122-73d7-405f-bbd7-ed136293edcc',
		'62f4451b-d381-4676-a4e1-5088c37cd732', 
		'ichom_lung_cancer_yearly_followup_clinical_form',
		'lungcancer_form_treatment_start', 
		'start_form_treatment_docetaxel_mono',
		'start_form_treatment_targeted',
		'start_form_treatment_chemo',
		'start_form_treatment_immuno')
), epstartdate as (
	select 
		patient_code, 
		submission_date, 
		form_id, 
		question_id, 
		cast(substring(regexp_replace(free_answer, r'[^0-9-T:]',''), 2, 10) as date) as episode_start_date,
		cast(substring(regexp_replace(free_answer, r'[^0-9-T:]',''), 2, 19) as datetime) as episode_start_datetime
	from awell_vragenlijsten 
	where question_id like '%TXSTARTDATE' 
	and not submission_date in (
		select submission_date 
		from awell_vragenlijsten
		where structured_answer_code in (
			'EARLY_STAGE_LUNGCANCER_CHIRURGIE', 
			'no_treatment',
			'no_treatment_palliative', 
			'no_treatment_with_weekly_follow_up')
	)
), epsenddate as (
	select 
		patient_code,
		submission_date, 
		form_id,
		question_id,
		cast(substring(regexp_replace(free_answer, r'[^0-9-T:]',''), 2, 10) as date) as episode_end_date,
		cast(substring(regexp_replace(free_answer, r'[^0-9-T:]',''), 2, 19) as datetime) as episode_end_datetime
	from awell_vragenlijsten 
	where question_id like '%TXSTOPDATE')
select distinct 
concat('AWELL_', e1.form_id, '_', e1.question_id, '_', e1.patient_code,'_',episode_start_date) as episode_id
,cast(e1.patient_code as string) as person_id 
,case when (e1.question_id = 'RADIOTXSTARTDATE' or structured_answer_nl = 'EARLY_STAGE_LUNGCANCER_RADIOTHERAPIE') then 'RADIOTHERAPY'
when e1.question_id = 'CHEMOTXSTARTDATE' then 'CHEMO'
when e1.question_id = 'IMMUNOTXSTARTDATE' then 'IMMUNO'
when e1.question_id = 'TARGETTXSTARTDATE' then 'TARGETED'
else 'KUUR_DRUG' end as episode_concept_id
,episode_start_date
,episode_start_datetime
,episode_end_date
,episode_end_datetime
,cast(null as string) as episode_parent_id
,0 as episode_number
,case when structured_answer_nl = 'EARLY_STAGE_LUNGCANCER_RADIOTHERAPIE' then cast(0 as string) 
else concat('AWELL_', a.question_id, '_', structured_answer_code) end as episode_object_concept_id 
,'ADMINISTRATION_RECORD' as episode_type_concept_id
,case when e1.question_id = 'RADIOTXSTARTDATE' then 'RADIOTHERAPY'
when e1.question_id = 'CHEMOTXSTARTDATE' then 'CHEMO'
when e1.question_id = 'IMMUNOTXSTARTDATE' then 'IMMUNO'
when e1.question_id = 'TARGETTXSTARTDATE' then 'TARGETED'
else 'KUUR_DRUG' end as episode_source_value
,cast(null as string) as episode_source_concept_id


from awell_vragenlijsten a
inner join epstartdate e1 on a.patient_code = e1.patient_code and a.submission_date = e1.submission_date
left join epsenddate e2 on e1.patient_code = e2.patient_code and e1.submission_date = e2.submission_date and 
substring(e1.question_id, 1, 4) = substring(e2.question_id, 1, 4)

where (not structured_answer_code in ('EARLY_STAGE_LUNGCANCER_CHIRURGIE', 'no_treatment',
'no_treatment_palliative', 'no_treatment_with_weekly_follow_up')) and a.question_id in ('TX', 'choose_treatment')

