with vragenlijsten_hix as (select vragenlijst.opslagid, lijstnaam.lijstnaam, vragen.stelling, keuzelijst.omschr, vragen.vraagid, antwoorden.patientnr, antwoorden.opslagid as antwoord_opslagid
, antwoorden.antwoord, keuzelijst.code,vragenlijst.datum, vragenlijst.tijd, vragen.korteoms
from {{project_id}}.hix.VRLIJST_VROPSLG antwoorden
    join {{project_id}}.hix.VRLIJST_LSTOPSLG  as vragenlijst on vragenlijst.OPSLAGID = antwoorden.BEANTWID
  join {{project_id}}.hix.VRLIJST_LIJSTDEF  as lijstnaam on lijstnaam.LIJSTID = vragenlijst.LIJSTID
  join  {{project_id}}.hix.VRLIJST_VRAGEN as vragen on vragen.VRAAGID = REALVRID
    left outer join   {{project_id}}.hix.VRLIJST_KEUZELST as keuzelijst on  keuzelijst.CODE = antwoorden.Antwoord)

,cte as (select distinct patientnr, opslagid, vraagid, antwoord_opslagid, stelling, omschr
from  vragenlijsten_hix where opslagid in (select opslagid from  vragenlijsten_hix where
lijstnaam = 'Registratieformulier MOC' and stelling = 'Nieuw/follow-up registratieformulier' and omschr = 'nieuw') 
 and vraagid in ('0000002082', '0000002083', '0000002084', '0000002085', '0000002086', '0000002087', '0000002088') and omschr = 'ja')

,cte2 as (select distinct patientnr, opslagid, antwoord, 
from  vragenlijsten_hix where lijstnaam = 'Registratieformulier MOC' and stelling = 'Incidentiedatum' and not antwoord = '')

,cte3 as (select distinct patientnr, opslagid, vraagid, antwoord_opslagid, stelling, omschr 
from  vragenlijsten_hix where lijstnaam = 'MOC longtumor' and 
vraagid in ('0000002082', '0000002083', '0000002084', '0000002085', '0000002086', '0000002087', '0000002088') and omschr = 'ja')

select distinct
    case when not cte.patientnr in (select patientnr from cte3) then concat('MOC_', cte.antwoord_opslagid, '_', cte.patientnr) 
    else concat('MOC_', cte3.antwoord_opslagid, '_', cte3.patientnr) end as condition_occurrence_id
    ,cte.patientnr as person_id
    ,case when not cte.patientnr in (select patientnr from cte3) then concat('HIXVRAGENLIJSTEN_',cte.vraagid)
    else concat('HIXVRAGENLIJSTEN_',cte3.vraagid) end as condition_concept_id
    ,cast(format_date('%Y-%m-%d', parse_date('%d-%m-%Y',antwoord)) as date) as condition_start_date
    ,cast(concat(format_date('%Y-%m-%d', parse_date('%d-%m-%Y', antwoord)), ' 00:00:00') as datetime) as condition_start_datetime
    ,cast(null as date) as condition_end_date
    ,cast(null as datetime) as condition_end_datetime
    ,'ADMINISTRATION_RECORD' as condition_type_concept_id
    ,'MZG_TYPE_N' as condition_status_concept_id 
    ,cast(null as string) as stop_reason
    ,cast(null as string) as provider_id
    ,cast(null as string) as visit_occurrence_id
    ,cast(null as string) as visit_detail_id
    ,case when not cte.patientnr in (select patientnr from cte3) then concat('HIXVRAGENLIJSTEN_',cte.vraagid)
    else concat('HIXVRAGENLIJSTEN_',cte3.vraagid) end as condition_source_value
    ,0 as condition_source_concept_id
    ,cast(null as string) as condition_status_source_value 

from cte
inner join cte2 on cte2.opslagid = cte.opslagid
left join cte3 on cte3.patientnr = cte2.patientnr


order by cte.patientnr
