{# Copyright 2022 RADar-AZDelta #}
{# SPDX-License-Identifier: gpl3+ #}
with cte as (
    SELECT
        CONCAT('ECG_', ecg.patient_id, '_', format_datetime("%s", datetime(ecg.observation_datetime))) AS condition_occurrence_id
        ,ecg.patient_id AS person_id
        ,CONCAT("HASH_",FARM_FINGERPRINT(ecg.diagnosis)) as condition_concept_id
        ,date(ecg.observation_datetime) as condition_start_date
        ,datetime(ecg.observation_datetime) as condition_start_datetime
        ,date(ecg.observation_datetime) as condition_end_date
        ,datetime(ecg.observation_datetime) as condition_end_datetime
        ,'ECG_PROTOCOL' as condition_type_concept_id
        ,'ECG_PROTOCOL_DIAGNOSIS' as condition_status_concept_id
        ,cast(null as string) as stop_reason
        --,cast(null as string) as provider_id
        --,array_agg(vs.x ignore nulls order by vs.x asc)[safe_offset(0)] as visit_occurrence_id
        --,cast(null as string) as visit_detail_id
        ,ecg.diagnosis as condition_source_value
        ,cast(null as string) as condition_source_concept_id
        ,cast(null as string) as condition_status_source_value
    from `{{project_id}}.ecg.ecg_diagnosis` ecg
)
SELECT cte.*
    , COALESCE(ARRAY_AGG(vd.provider_id ORDER BY vd.visit_detail_start_datetime DESC LIMIT 1)[OFFSET(0)], ARRAY_AGG(v.provider_id ORDER BY v.visit_start_datetime DESC LIMIT 1)[OFFSET(0)]) as provider_id
    , ARRAY_AGG(v.visit_occurrence_id ORDER BY v.visit_start_datetime DESC LIMIT 1)[OFFSET(0)] as visit_occurrence_id
    , ARRAY_AGG(vd.visit_detail_id ORDER BY vd.visit_detail_start_datetime DESC LIMIT 1)[OFFSET(0)] as visit_detail_id
FROM cte
LEFT OUTER JOIN {{project_id}}.{{dataset_id_work}}.visit_occurrence_upload v ON v.person_id = cte.person_id AND cte.condition_start_datetime >= v.visit_start_datetime and cte.condition_start_datetime <= v.visit_end_datetime 
LEFT OUTER JOIN {{project_id}}.{{dataset_id_work}}.visit_detail_upload vd ON v.visit_occurrence_id = vd.visit_occurrence_id AND cte.condition_start_datetime >= vd.visit_detail_start_datetime and cte.condition_start_datetime <= vd.visit_detail_start_datetime
inner join {{project_id}}.{{dataset_id_work}}.person_upload p
on cte.person_id = p.person_id
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12,13