{# Copyright 2022 RADar-AZDelta #}
{# SPDX-License-Identifier: gpl3+ #}
with cte_mzg as (
	select CONCAT(TRIM(m.formnr), '_', TRIM(m.pat_std)) as id
		,TRIM(v.PATIENTNR) as pat_id
		,TRIM(v.INSCHRNR) as visit_id
		,CAST(m.vandat as DATE) as start_date
		,CAST(m.vanuur as TIME) as start_time
		,CAST(m.totdat as DATE) as end_date
		,CAST(m.totuur as TIME) as end_time
		,TRIM(m.opndok) as dok_id 
		,TRIM(m.hoofddiagnose) as icd_code
		,'H' as type
		,m.mzg_encod as icd_version
	from {{project_id}}.oazis.MKG m
	inner join {{project_id}}.{{dataset_id_raw}}.OPNAME_OPNAME v on v.INSCHRNR = TRIM(m.opnr)	
	where m.mzg_status >= '66'
		and m.hoofddiagnose not in ('MMMMMM', 'UUUUUU', 'ZZZZZZ')

	union all

	select CONCAT(trim(n.formnr), '_', TRIM(n.pat_std), '_', TRIM(n.nevendiagnose)) as id 
		,TRIM(v.PATIENTNR) as pat_id
		,TRIM(v.INSCHRNR) as visit_id
		,CAST(m.vandat as DATE) as start_date
		,CAST(m.vanuur as TIME) as start_time
		,CAST(m.totdat as DATE) as end_date
		,CAST(m.totuur as TIME) as end_time
		,null as dok_id 
		,TRIM(n.nevendiagnose) as icd_code
		,'N' as type
		,m.mzg_encod as icd_version
	from {{project_id}}.oazis.MKG m
	inner join {{project_id}}.{{dataset_id_raw}}.OPNAME_OPNAME v on v.INSCHRNR = TRIM(m.opnr)	
	inner join {{project_id}}.oazis.NEVEN n on m.formnr = n.formnr
	where m.mzg_status >= '66'

	union all

	select CONCAT(TRIM(i.formnr), '_', TRIM(i.pat_std), '_', i.vlgnr) as id 
		,TRIM(v.PATIENTNR) as pat_id
		,TRIM(v.INSCHRNR) as visit_id
		,CAST(i.datum as DATE) as start_date
		,CAST(NULL as TIME) as start_time
		,CAST(i.datum as DATE) as end_date
		,CAST(NULL as TIME) as end_time
		,TRIM(i.uitvoerder) as dok_id 
		,TRIM(i.ingreep) as icd_code
		,'I' as type
		,m.mzg_encod as icd_version
	from {{project_id}}.oazis.MKG m
	inner join {{project_id}}.{{dataset_id_raw}}.OPNAME_OPNAME v on v.INSCHRNR = TRIM(m.opnr)	
	inner join {{project_id}}.oazis.INGREEP i on m.formnr = i.formnr
	where m.mzg_status >= '66'

	order by pat_id, visit_id, icd_code
), cte as (
	select 
		concat('MZG_', m.id, '_', m.pat_id) as condition_occurrence_id
		,m.pat_id as person_id
		,scm.source_code as condition_concept_id
		,m.start_date as condition_start_date
		,DATETIME(
		m.start_date, 
		m.start_time
		) as condition_start_datetime
		,m.end_date as condition_end_date
		,DATETIME(
			m.end_date, 
			m.end_time
		) as condition_end_datetime
		,'ADMINISTRATION_RECORD' as condition_type_concept_id
		,concat('MZG_TYPE_', m.type) as condition_status_concept_id
		,cast(null as string) as stop_reason
		,m.dok_id as provider_id
		,m.visit_id as visit_occurrence_id
		--,cast(null as string) as visit_detail_id
		,scm.source_code as condition_source_value
		,scm.source_code as condition_source_concept_id
		,concat('MZG_TYPE_', m.type) as condition_status_source_value
	from cte_mzg m
	inner join {{project_id}}.{{dataset_id_omop}}.source_to_concept_map scm
	on scm.source_code = concat('MZG_'
								, m.icd_version
								, '_'
								, ( case
										when m.type in ('H', 'N') then 'D' --hoofd en neven diagnose --> diagnose
										when m.type = 'I' then 'P' -- ingreep --> procedure
									end)
								, '_'
								, trim(m.icd_code))
	inner join {{project_id}}.{{dataset_id_omop}}.concept c
	on scm.target_concept_id = c.concept_id
	where c.domain_id = 'Condition'
)
SELECT cte.*
    , ARRAY_AGG(vd.visit_detail_id ORDER BY vd.visit_detail_start_datetime DESC LIMIT 1)[OFFSET(0)] as visit_detail_id
FROM cte
LEFT OUTER JOIN {{project_id}}.{{dataset_id_work}}.visit_detail_upload vd ON cte.visit_occurrence_id = vd.visit_occurrence_id AND cte.condition_start_datetime >= vd.visit_detail_start_datetime and cte.condition_start_datetime <= vd.visit_detail_end_datetime
inner join {{project_id}}.{{dataset_id_work}}.person_upload p
on cte.person_id = p.person_id
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
