{# Copyright 2022 RADar-AZDelta #}
{# SPDX-License-Identifier: gpl3+ #}
select 
    "AWELL" as VOCABULARY_ID	
    ,'AWELL custom concepts' as VOCABULARY_NAME
    ,'https://awellhealth.com/' as VOCABULARY_REFERENCE
    ,"0.1.0" as VOCABULARY_VERSION
    ,"AWELLVOC" as VOCABULARY_CONCEPT_ID
