select 
    "AZDELTA" as vocabulary_id	
    ,'AZ Delta custom concepts' as vocabulary_name
    ,'https://www.azdelta.be' as vocabulary_reference
    ,"0.1.0" as vocabulary_version
    ,"AZDELTAVOC" as vocabulary_concept_id
